.list-input {
  padding: 0.5rem;
  border: 2px solid lightgrey;
  border-radius: 4px;
  width: 85%;
}

.list .fa-times {
  margin-left: -1.5rem;
  color: lightgrey;
}

.list .fa-times:hover {
  color: rgb(69, 68, 68);
}

.list label {
  display: block;
  margin-bottom: 0.5rem;
}

.list hr {
  width: 50%;
}
