.background-red {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: large;
  border: 2px solid #ee204d;
}

.background-yellow {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: large;
  border: 2px solid #f8b878;
}

.background-green {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: large;
  border: 2px solid #0abab5;
}

.background-grey {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: large;
  border: 2px solid grey;
  /* background-color: grey; */
}

.delete-button {
  border-radius: 0.25rem;
  background-color: red;
  color: white;
  cursor: pointer;
}
