.background-red {
  background-color: red;
}

.background-yellow {
  background-color: yellow;
}

.background-green {
  background-color: green;
}

.background-grey {
  background-color: grey;
}

.delete-button {
  border-radius: 0.25rem;
  background-color: red;
  color: white;
  cursor: pointer;
}
